body {
  background-color: #171e22;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

.mainnav {
  box-shadow: 1px 0 1px #14171b;
  margin-bottom: 10px;
}

.nav-op {
  opacity: .8;
}

.seperator {
  border-bottom-color: #293139;
  flex: 100px;
}

.broadcast {
  margin: 0 .5rem;
  position: relative;
}

.broadcastIMG {
  width: 150px;
  opacity: 0.6;
}

.broadcastIMG-active {
  opacity: 1;
}

.status {
  display: flex;
  position: absolute;
  align-items: baseline;
  bottom: 0;
  width: 100%;
  background-color: #00000088;
}

.status-indicator {
  background-color: red;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  margin: 0 10px;
}

.status-viewers {
  text-shadow: 1px 1px 10px #000000;
}
