body {
  background-color: #171e22;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

.mainnav {
  box-shadow: 1px 0 1px #14171b;
  margin-bottom: 10px;
}

.seperator {
  border-bottom-color: #293139;
  flex: 100px;
}

.broadcast {
  margin: 0 5px;
  position: relative;
}

.broadcastIMG {
  width: 150px;
}

.status {
  display: inline-flex;
  position: absolute;
  align-content: center !important;
  bottom: 0;
  top: auto;
  margin-left: .5rem;
}

.status-indicator {
  background-color: red;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
}

.status-viewers {
  width: .8rem;
  height: .8rem;
}
