body {
  background-color: #171e22;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

.mainnav {
  box-shadow: 1px 0 1px #14171b;
  margin-bottom: 10px;
}

.seperator {
  border-bottom-color: #293139;
  flex: 100px;
}

/* carousel style */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}
